# Web Server (Keep-alive)
fastapi
uvicorn

# Core Framework
python-dotenv
nest_asyncio
requests

# Telegram
python-telegram-bot

# AI & LLMs
openai
llama-index
llama-index-vector-stores-astra-db

# Database
astrapy>=1.0.0

# Auth
firebase-admin

# Utils
email-validator
pypdf

# test
# kamal nayan 